/*Main stylesheet*/

body, html {
    background: #f5f5f5;
}

.lead_header {
    color: #0966b9;
    text-align: center;
    margin: 5em auto;
}

.center_block {
    width: 100%;
    text-align: center;
}